body {
  background-color: #f8f9fa;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  --color: #E1E1E1;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

#cat-label {
  margin-bottom: 0;
}

.hero-section {
  background: #f8f9fa;
  padding: 5rem 0;
}

.card-custom {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom .card-body {
  padding: 2rem;
}

.btn-custom {
  background-color: #28a745;
  color: white;
}

.btn-custom:hover {
  background-color: #218838;
}